.contact-form-container {
  padding: 20px;
  background-color: #fff;
  margin-left: 15vw;

  .form-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;

    label {
      font-size: 0.75rem;
      color: #999;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 500;
    }

    input,
    select {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 0.85rem;
      color: #000000;
      outline: none;
      height: 38px;
      background-color: #fff;

      &::placeholder {
        color: #ddd;
      }

      &:focus {
        border-color: #999;
      }
    }

    .text-muted {
      // color: #888;
      opacity: 0.9;
    }
  }

  .form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;

    .form-group {
      flex: 1; // ให้แต่ละช่องขยายกว้างเท่าๆ กันในแถว
    }
  }

  .footter-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
  }
}
